* {
    box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header, .footer {
  background-color: teal;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
}

.App-intro {
  font-size: large;
}




.profile, .footer {
  min-height: 20vh;
}

.log-link, .profile-name  {
    position: absolute;
    right: 5px;
    top: 0px;
}

.box {
  margin: auto;
  max-width: 900px;
}

button {
  margin: 10px;
}

.section-border {
  border-top: 1px solid #D6D8DA;
}

.clear {
  clear: both;
}

.row {
  width: 100%;
}

.mt10, input, select {
  margin-top: 10px;
}


.col-12-xs {
  width: 100%;

}



@media screen and (min-width: 768px) {
  .App-header {
    height: 150px;
    padding: 20px;
  }

  .col-5 {
      width: 20%;
  }


  .col-3 {
    width: 25%;

  }

  .col-4-sm {
    width: 40%;
  }
  .col-6-sm {
    width: 60%;
  }

  .ml60{
    margin-right: 60%;
  }

  .landing {
    min-height: 60vh;
  }


}
