
.chore-box {
  max-height: 50vh;
  overflow: auto;
}

.chores {
  min-height: 60vh;
}

.chore-traking-table-div {
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
}


/* tbody:nth-child(even) {
     background-color: #c5ddd6;
} */

tbody {
    border-bottom: 1px solid #D6D8DA;
}

th {
  padding: 5px;
  vertical-align: bottom;
}

td {
  padding: 15px;
}
