

.profile-level-title {
  transform: translateY(50%);
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
}

.profile-avatar-div {

  display: inline-block;
  float: left;
}

.profile-avatar {
    height: 80px;
    padding: 5px;
    margin: 3px;
    border: 3px solid black;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 1px grey;
    -webkit-box-shadow: 2px 2px 1px grey;
    box-shadow: 2px 2px 1px grey;
}

.profile-avatar:hover {
  -moz-box-shadow: 4px 4px 1px grey;
  -webkit-box-shadow: 4px 4px 1px grey;
  box-shadow: 4px 4px 1px grey;
}

.profile-level-div {
  display: inline-block;
}
