

/* .profile-level-title {
  transform: translateY(50%);
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
} */

.ml0 {
  margin-left: 0%;
}

.profile-avatar-div {

  display: inline-block;
  float: left;
}

.profile-avatar {
    height: 80px;
    padding: 5px;
    margin: 5px;
    border: 4px solid teal;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px grey;
    -webkit-box-shadow: 3px 3px 5px grey;
    box-shadow: 3px 3px 5px grey;
}

.profile-avatar:hover {
  -moz-box-shadow: 4px 4px 1px grey;
  -webkit-box-shadow: 4px 4px 1px grey;
  box-shadow: 4px 4px 1px grey;
}

.profile-level-div {
  display: inline-block;
}
